.title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 40px;
    line-height: 42px;
    margin: 0;
    padding-right: 70px;
}
.main_container {
  padding: 0px 150px;
  width: 1550px;
}
.nav-div {
    display: inline-flex;
    align-items: center;
}
.carousal-nav-buttons {
    background: none;
    border: none;
}
.white-icon {
    color: #fff;
}