.title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 40px;
    line-height: 42px;
    margin: 0;
    padding-right: 70px;
}
.main_container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
}
.outer-stage-item {
    opacity: 0.3;
}
.outer-stage {
    background: #1a191f
}